{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}
    <h1>Pages</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ entity.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ entity.contenu }}</td>
            </tr>
        </tbody>
    </table>

    <div>

        <a href="{{ path('adminPages') }}" class="btn btn-info btn-xs">
            Retour
        </a>


        <a href="{{ path('adminPages_edit', { 'id': entity.id }) }}" class="btn btn-danger btn-xs" >
            Modifier
        </a>
        <a href="{{ asset(form(delete_form)) }}" class="btn btn-danger btn-xs">
            Supprimer
        </a>
   {# <li>{{ form(delete_form) }}</li>#}

    </div>
{% endblock %}
